.container1 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2.8fr 0.2fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
    border-style: solid; 
    border-radius: 5px;
    /*margin-top: 5%;*/
    border-style: solid;
     border-width: 5px;
     border-radius: 6px;
     border-color: darkgreen;
     min-width: 564px;
  
}

#cpuwindow { grid-area: cpu;
  

}

#p1window { grid-area: player1;
  align-items: center;
  flex-direction:column;
  background-color: black;
  justify-items:center;

}



body {
     margin-top: 5%;
     margin-left: 10%;
     margin-right: 10%;
     
     
}



.header { grid-area: header; 
          background-color: rgb(32, 33, 32);
          padding-left: 25%;
          padding-right: 20%;
     
}
.content { grid-area: content;
          background-color: rgb(46, 46, 46);
          max-height: 1000px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 5%;  
         
}


#cpuwindow {
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 15%;
  height:420px;
  display: flex;
  align-items: center;
  flex-direction:column;
  background-color: black;
  padding-top: 2%;
  color: chartreuse;
  font-size: 30px;

}

#cpudeck1 {
          height: 100px;
          width: 68px;
}

#p1window {
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 15%;
  height:420px;
  align-items: center;
  flex-direction:column;
  background-color: black;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  padding-top: 4%;
  color: chartreuse;
  font-size: 25px;
}

#hudwindow {  
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  color: rgb(248, 14, 14);
  width: 400px;
  height: 420px;
  display: flex;
  justify-content: center;
  background-color: black;
  }

#countdown  
{
  font-size: 200px;
  
}
  


#ruleswindow 
{
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 60%;
  margin-left: 20%;
  font-size: xx-large;
  color: chartreuse ;
  background-color: black;
}  

#homewindow 
{
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 60%;
  margin-left: 20%;
  font-size: xx-large;
  color: chartreuse ;
  background-color: black;
}  
.nav-item 
          {
            border-style:ridge;
            border-radius: 5px;
            border-width: 2px;
            border-color: silver;
            background-color: forestgreen;
            padding: 3px;
            margin-right: 5%;
            margin-left: 5%;
          
          }
          






/*.footer { grid-area: footer;
          background-color: rgb(81, 113, 50);
          padding-top:7%;
          margin-top: 3;
        
}*/





  @media screen and (min-width: 972px) {
  #mmlogosmall {     display:none;       
                      padding-left: 20%;  
  }
  }
  @media screen and (max-width: 972px) {
    #mmlogomed {     display:none;   
                      
    
  }
  }
 
  @media screen and (max-width: 1100px) {
    .header {     padding-left:5%;   
                  padding-right:0%;
  }
  }

  @media screen and (max-width: 700px) {
    #hudwindow {   
                  
                  width: 60%;
                  height: 60%;
                    
                  
                  order:0;
                  flex-basis: 100%;
                   
                      
    
  }
  }
  @media screen and (max-width: 700px) {
    #p1window {    
                            
                           
                           
                           order: 1;
                           flex-basis: 49%;
                           row-gap: 10px;

    }
  }

  @media screen and (max-width: 700px) {
    #cpuwindow {          
                           
                          order: 1;
                          flex-basis: 49%;
                          ;
               }
  }

  /*@media screen and (min-width: 1000px) {
  #hudwindow {
              object-fit: fill;
              background-image: url("assets/images/greenhud350.png");
             }
  }*/




  