.container1 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2.8fr 0.2fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
    border-style: solid; 
    border-radius: 5px;
    /*margin-top: 5%;*/
    border-style: solid;
     border-width: 5px;
     border-radius: 6px;
     border-color: darkgreen;
     
        
    
    
}

.container2 {  display: grid;
  grid-template-columns: 1.5fr 0.3fr 1.2fr;
  grid-template-rows: 0.5fr 2.3fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "cpu player1 player1"
    "footer footer footer";
    border-style: solid;
    border-radius: 5px;
    margin-top: 5%; 
    
}


.cpu { grid-area: cpu;
  background-color: rgb(30, 29, 29);
 
}

.player1 { grid-area: player1;
  background-color: darkgray;

}




body {
     margin-top: 5%;
     margin-left: 10%;
     margin-right: 10%;
     
     
}


.header { grid-area: header; 
          background-color: rgb(33, 32, 32);
          padding-left: 20%;
          padding-right: 20%;
     
}
.content { grid-area: content;
          background-color: rgb(46, 46, 46);
          height: 600px;
          display: flex;
          flex-wrap: wrap;
          justify-content:space-around;
          
          padding: 3%;

          
          
          
}

#cpuwindow {
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 15%;
  
 
  
}

#hudwindow {  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 60%;
}


#p1window {
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 15%;
  
  
  
   
}

.footer { grid-area: footer;
          background-color: rgb(81, 113, 50);
        
}





  @media screen and (min-width: 972px) {
  #mmlogosmall {     display:none;       
                      padding-left: 20%;  
  }
  }
  @media screen and (max-width: 972px) {
    #mmlogomed {     display:none;   
                      
    
  }
  }
 
  @media screen and (max-width: 1100px) {
    .header {     padding-left:5%;   
                  padding-right:0%;
  }
  }

  @media screen and (max-width: 700px) {
    #hudwindow {   
                  
                  width: 60%;
                  height: 60%;
                    
                  
                  order:0;
                  flex-basis: 100%;
                   
                      
    
  }
  }
  @media screen and (max-width: 700px) {
    #p1window {    
                            
                           
                           
                           order: 1;
                           flex-basis: 49%;
                           row-gap: 10px;

    }
  }

  @media screen and (max-width: 700px) {
    #cpuwindow {          
                           
                          order: 1;
                          flex-basis: 49%;
                          ;
               }
  }





  