.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2.8fr 0.2fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  border-style: solid;
  border-radius: 5px;
  /*margin-top: 5%;*/
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;

}

#cpuwindow {
  grid-area: cpu;
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 15%;
  max-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  padding-top: 2%;
  color: chartreuse;
  font-size: 30px;
  

}

#p1window {
  grid-area: player1;
  align-items: center;
  flex-direction: column;
  background-color: black;
  justify-items: center;
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 15%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: black;
  justify-content: space-around;
  justify-content: center;
  text-align: center;
 
  color: chartreuse;
  font-size: 25px;
}

#cpubutton {
  background-color: rgb(32, 33, 32);
  color: chartreuse;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: darkgreen;
  padding: 5px;
  font-size: x-large;

}


body {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;


}



.header {
  grid-area: header;
  background-color: rgb(32, 33, 32);
 justify-content: center;

}

#mmlogosmall {
align-self: center;
margin-left: 27%;
margin-right: 27%;
}
#mmlogomed {
align-self: center;
margin-left: 27%;
margin-right: 27%;
}
.content {
  grid-area: content;
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-wrap: wrap;
  padding-top:5% ;
  padding-bottom:5%;
  
  justify-content: space-around;
  
}

.content1 {
  grid-area: content;
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
 
  /*padding-right: 5%;*/
  padding-bottom: 5%;
  justify-content: space-around;
  

}
.content2 {
  grid-area: content;
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-wrap: wrap;
  
 
  /*padding-right: 5%;*/
  padding-bottom: 5%;
  justify-content: center;

   
}
li {
  color: black;
}



#cpudeck1 {
  height: 100px;
  width: 68px;
}



#p1deck1, #p1deck2, #p1deck3, #p1deck4 {
  padding-top: 10px;
}

#hudwindow {
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  color: rgb(248, 14, 14);
  width: 400px;
  height: 420px;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-left:20px;
  margin-right:20px;
}

#countdown {
  font-size: 200px;

}



#ruleswindow {
  /* border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: fit-content;

  font-size: xx-large;
  color: chartreuse ;
  background-color: black;*/
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 55%;
  font-size: xx-large;
  color: chartreuse;
  background-color: black;
  padding: 10%;

}

#homewindow {
  border-style: solid;
  border-width: 5px;
  border-radius: 6px;
  border-color: darkgreen;
  width: 55%;
  font-size: 35px;
  color: chartreuse;
  background-color: black;
  padding: 13%;
  align-items: center;

}

.nav-item {
  border-style: ridge;
  border-radius: 5px;
  border-width: 5px;
  border-color: silver;
  background-color: forestgreen;

  margin-left: 35px;
  margin-right: 35px;
  color: black;
  font-weight: bold;
}






.footer {
  grid-area: footer;
  background-color: rgb(81, 113, 50);
  padding-top: 7%;
  margin-top: 3;

}

/*#ruleswindow {
  padding: 10%;
  margin-left: -14%;
}*/





@media screen and (min-width: 972px) {
  #mmlogosmall {
    display: none;

  }
}

@media screen and (max-width: 972px) {
  #mmlogomed {
    display: none;


  }
}

@media screen and (max-width: 1350px) {
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 800px) {
  #hudwindow {

    width: 50%;
    height: 50%;
    order: 1;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 800px) {
  #p1window {



    order: 2;
    flex-basis: 49%;
    row-gap: 10px;
    font-size: 10px;
    max-height: 70%;


  }
}

@media screen and (max-width: 800px) {
  #cpuwindow {

    order: 2;
    flex-basis: 49%;
    font-size: 10px;
    max-height: 70%;

  }
}

/*@media screen and (min-width: 1000px) {
  #hudwindow {
              object-fit: fill;
              background-image: url("assets/images/greenhud350.png");
             }
  }*/